.text-site-light{
    color: #FD1C68!important;
}
.btn-bg-light{
    background: linear-gradient(#FDAE8F, #FD1C68);
}
.btn-bg-dark{
    background: #030812;
}
.btn-bg-secondary{
    background: #3C485D;
}
.btn-radius{
    border-radius: 24px;
}
.text-site-gradient{
    color: #FD1C68!important;
}
.bg-site-image{
    height: 60dvh;
    background: url("../images/Image.png");
    background-repeat: no-repeat;
    background-position: right;
}
.auctions .title h2{
    font-size: 64px;
}
.auctionsSwiper .card{
    background: rgba(53, 57, 65, 0.41)!important;
}
.icons .fa-heart{
    cursor: pointer;
}